/* You can add global styles to this file, and also import other style files */

body {
    background-color:black;
    margin: 0;
    padding: 0;
    /*background-image:url(images/galaxy.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;*/
}
#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index:-1;
}